<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>__notdef.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>CR</key>
  <string>CR__.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>uni061B</key>
  <string>uni061B_.glif</string>
  <key>uni060C</key>
  <string>uni060C_.glif</string>
  <key>uni061F</key>
  <string>uni061F_.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>oo_alt</key>
  <string>oo_alt.glif</string>
  <key>ey_alt</key>
  <string>ey_alt.glif</string>
  <key>alifu_a</key>
  <string>alifu_a.glif</string>
  <key>alifu_aa</key>
  <string>alifu_aa.glif</string>
  <key>alifu_i</key>
  <string>alifu_i.glif</string>
  <key>alifu_ee</key>
  <string>alifu_ee.glif</string>
  <key>alifu_u</key>
  <string>alifu_u.glif</string>
  <key>alifu_oo</key>
  <string>alifu_oo.glif</string>
  <key>alifu_e</key>
  <string>alifu_e.glif</string>
  <key>alifu_ey</key>
  <string>alifu_ey.glif</string>
  <key>alifu_o</key>
  <string>alifu_o.glif</string>
  <key>alifu_oa</key>
  <string>alifu_oa.glif</string>
  <key>alifu_sukun</key>
  <string>alifu_sukun.glif</string>
  <key>NULL</key>
  <string>NULL____.glif</string>
  <key>miukumauku</key>
  <string>miukumauku.glif</string>
</dict>
</plist>
